<%- include('../parts/head', {bot, user, path}) %>
<title>Kurallar | Discord Bot</title>
<style>
strong {
color: gray;
}
</style>
<div class="container px-3 mt-2 pt-5">
    <div class="container px-3 content is-widescreen pt-5">
        <div class="bg-vote-vcodes pt-5">
            <p class="has-text-white is-size-4" style="text-decoration: underline" >Bot Rules</p>
            <p style="text-align: none;"class="text-muted">
&raquo <strong>1.</strong> Bot ekleme koşulları aşağıdaki gibidir;<br>
  &nbsp;&nbsp;<strong>a.</strong> Bir etiket seçmelisiniz.<br>
  &nbsp;&nbsp;<strong>b.</strong> Bot kimliğini doğru girmelisiniz.<br>
  &nbsp;&nbsp;<strong>c.</strong> Botunuzun açılış tarihi, eklenmeden 2 hafta önce olmalıdır.<br>
  &nbsp;&nbsp;<strong>d.</strong> Botunuz diğer botların kopyası olmamalıdır.<br>
  &nbsp;&nbsp;<strong>e.</strong> Botunuzun avatarı başka bir bota ait olmamalıdır.<br><br>
 &nbsp;&nbsp;<strong>e.</strong> İzin verilmeyen bot sayfası içeriği;<br>
  &nbsp;&nbsp;<strong>a.</strong> İlgisiz herhangi bir siteye yönlendirme yapmamalısınız.<br>
  &nbsp;&nbsp;<strong>b.</strong> Başka bir bot listesi sitesini iframe olarak koymamalısınız.<br>
  &nbsp;&nbsp;<strong>c.</strong> Çıplaklık içeren resimler yayınlamamalısınız.<br>
  &nbsp;&nbsp;<strong>d.</strong> Botunuz hakkında ayrıntılı bilgi vermelisiniz.<br>
  &nbsp;&nbsp;<strong>e.</strong> Botunuz hakkında detaylı bilgi verirken resimlerde onu kullanmalısınız.<br>
  &nbsp;&nbsp;<strong>f.</strong> Ön eki doğru yazmalısınız.<br>
  &nbsp;&nbsp;<strong>g.</strong> Botunuzun sitesini iframe olarak koymalısınız veya botunuzun komutlarını yazmalısınız.<br><br>
&nbsp;&nbsp;<strong>e.</strong> Bot komutlarında izin verilmez;<br>
  &nbsp;&nbsp;<strong>a.</strong> Botunuzda başka bir botun reklamı yapılmamalıdır.<br>
  &nbsp;&nbsp;<strong>b.</strong> Botunuzun komutlarından hiçbirinde epilepsi krizine neden olacak emojiler bulunmamalıdır.<br>
  &nbsp;&nbsp;<strong>c.</strong> Botunuzun komutları benzersiz olmalıdır.<br>
  &nbsp;&nbsp;<strong>d.</strong> Botunuzda toplu işleme komutları olmamalıdır.<br>
  &nbsp;&nbsp;<strong>e.</strong> Botunuzda herhangi bir yasak komut bulunmamalıdır.<br>
  &nbsp;&nbsp;<strong>f.</strong> Botunuz en az 2 hafta önce açılmış olmalıdır.<br>
  &nbsp;&nbsp;<strong>g.</strong> Botunuz benzersiz olmalıdır.
<br><br>
&raquo Yasaklanmış Komutlar;<br>
<strong>1.</strong> Herkese Rol Ver / Al<br>
  <strong>2.</strong> Sunucuyu Patlatın<br>
  <strong>3.</strong> DM Duyurusu<br>
  <strong>4.</strong> Spam İleti<br>
  <strong>5.</strong> Özel mesaj gönderin
                </p>
            <br>
        </div>
    </div>
    <center>
    <button onclick="location.href='/addbot'" class="btn btn-back"><i class="fad fa-check"></i>&nbsp;Apply your bot</button>
    </center>
</div>

<%- include('../parts/foot') %>
